@media (max-width: 1080px) {
    .hero {
        padding-top: calc(337 / 1024 * 100%);
        padding-bottom: 50px;
        &__banner {
            width: 649px;
        }
        &__date {
            font-size: 32px;
        }
        background-image: 
            image-set(
                url('/img/1bg-1024@2x.avif') type('image/avif') 2x,
                url('/img/1bg-1024.avif') type('image/avif'),
                url('/img/1bg-1024@2x.webp') type('image/webp') 2x,
                url('/img/1bg-1024.webp') type('image/webp'),
                url('/img/1bg-1024@2x.jpg') 2x,
                url('/img/1bg-1024.jpg')
            );
    }
    .about {
        padding: 50px 0;
        &__container {
            &:after {
                flex-basis: 50%;
                background-image: url('/img/aang1024.jpg');
            }
        }
        &__content {
            flex-basis: 50%;
        }
        &__title {
            font-size: 40px;
            margin-bottom: 24px;
        }
        &__descr {
            font-size: 16px;
        }
    }
    .trailers {
        padding: 50px 0 100px;
    }
}
@media (max-width: 900px) {
    .container {
        padding: 0 44px !important;
    }
    .header {
        &__container {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }
        &__logo {
            width: 130px;
        }
    }
    .hero {
        padding-top: calc(337 / 768 * 100%);
        padding-bottom: 40px;
        &__date {
            margin-bottom: 12px;
        }
        &__arrow {
            width: 36px;
            height: 36px;
        }
        background-image: 
            image-set(
                url('/img/1bg-768@2x.avif') type('image/avif') 2x,
                url('/img/1bg-768.avif') type('image/avif'),
                url('/img/1bg-768@2x.webp') type('image/webp') 2x,
                url('/img/1bg-768.webp') type('image/webp'),
                url('/img/1bg-768@2x.jpg') 2x,
                url('/img/1bg-768.jpg')
            );
    }
    .about {
        padding: 40px 0;
        &__container {
            flex-direction: column;
            &:after {
                flex-basis: 300px; /* высота картинки, т.к. направление по колонкам, а не строкам */
                background-image: url('/img/aang768@2x.jpg');
            }
        }
        &__content {
            flex-basis: auto;
        }
        &__title {
            max-width: 370px;
        }
    }
    .trailers {
        padding: 40px 0 80px;
        &__buttons {
            gap: 8px;
        }
        &__button {
            width: 99px;
            font-size: 12px;
            padding: 10px 16px;
        }
    }
    .footer {
        padding: 32px 0;
        &__container {
            gap: 20px;
        }
        &__logo {
            width: 217px;
        }
        &__developer, &__link, &__copyright {
            font-size: 12px;
        }
    }
}
@media (max-width: 620px) {
    .container {
        padding: 0 16px !important;
    }
    .header {
        &__container {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
        }
        &__logo {
            width: 90px;
        }
        &__link {
            display: none;
        }
    }
    .hero {
        padding-top: calc(173 / 320 * 100%); /* величина отступа до верха / расширение экрана */
        padding-bottom: 30px;
        &__link {
            display: block;
            margin-bottom: 32px;
            padding: 10px 16px;
        }
        &__date {
            font-size: 20px;
        }
        background-image: 
            image-set(
                url('/img/1bg-320@2x.avif') type('image/avif') 2x,
                url('/img/1bg-320.avif') type('image/avif'),
                url('/img/1bg-320@2x.webp') type('image/webp') 2x,
                url('/img/1bg-320.webp') type('image/webp'),
                url('/img/1bg-320@2x.jpg') 2x,
                url('/img/1bg-320.jpg')
            );
    }
    .about {
        padding: 30px 0;
        &__container {
            &:after {
                flex-basis: 268px;
                background-image: url('/img/aang320@2x.jpg');
            }
        }
        &__title {
            font-size: 28px;
            margin-bottom: 16px;
        }
    }
    .trailers {
        padding: 30px 0 60px; /*  верх право-лево и низ */
        &__container {
            padding: 0 !important;
        }
        &__buttons {
            padding: 0 16px;
            overflow-x: scroll;
            scrollbar-width: none; /* кнопки на моб версии будут скролиться,но без нижней полоски */
            ::-webkit-scrollbar {
                display: none;
            }
        }
        &__list {
            padding: 0 16px;
        }
    }
    .footer {
        padding: 20px 0;
        &__container { /* нарисовали сетку на 1 колонкy и на 3 строки */
            grid-template-areas: 
                "logo"
                "developers"
                "copyright";
        }
        &__logo {
            margin-bottom: 4px;
            justify-self: start; /* в гриде прижать к левому краю */
        }
    }
}